@page
@model Toulbar2RestCore.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<br />
<br />
<h2>Opis</h2>

<p>Aplikacja wykonana została jako projekt z przedmiotu SOA. Wykonany został serwer REST w technologii .net core. Jest on uruchamiany w Dockerze. 
    Z serwerem tym komunikuje się strona wykonana jako projekt z innego przedmiotu. Aby ją przetestować należy kliknąć w link Toulbar2WebApp w górnym panelu. 
    Logi dotyczące zapytań wysyłanych z tej strony zapisywane są w pliku. Ta strona została wykonana jako Razor Page.</p>
